@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Kosugi&family=Oxygen&display=swap');


/* モバイルファーストで書いてみます */

/* ------------
全体
------------ */

html {
  font-size:62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.5rem;
  margin:0;
  color: #222;
  font-family: 'ardoise-narrow-std', 'Kosugi', sans-serif;
  font-weight: 200;
}

.container_all {
  width: 100%;
  /* background: #191919; */
  min-height: 100vh;
  line-height: 2;
  /* background-color:rgba(255,255,255,0.90);
  background-blend-mode:lighten; */
  position: relative;
  overflow: hidden;
}

.container_all:before {
  content: '';
  position: absolute;
  background: linear-gradient(12deg, #F7931E, #f84646);
  opacity: 0.2;
  background-size: 400% 400%;
  width: 40%;
  height: 0%;
  bottom: 10%;
  left: 30%;
  z-index: -1;
  animation: appear 1.2s 1s ease forwards, GradientBackground 6s ease infinite;
}

.container_all:after {
  content: '';
  position: absolute;
  width: 300%;
  height: 100%;
  z-index: 3;
  background: #fff;
  bottom: 0;
  right: 0;
  animation: slide-down 2s ease forwards;
  transform: skewX(30deg);
}

@keyframes slide-down {
  0% {
    right:-100%
  }

  100% {
    right: -400%;
  }
}

@keyframes appear {
  0% {
    height: 0%;
  }

  100% {
    height: 80%;
  }
}

@keyframes GradientBackground {
  0% {
    background-position: 50% 100%;
  }

  50% {
    background-position: 50% 0%;
  }

  100% {
    background-position: 50% 100%;
  }
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

img {
  vertical-align:bottom;
}

.main_container .title h1{
  font-weight: 400;
} 

.main_container .text h2{
  font-weight: 400;
} 

/* --------
slick
--------*/
.slick-prev, .slick-next {
  z-index: 1;
  display: none;
}
.slick-prev:before, .slick-next:before {
  color: #fff;
}
.slick-slide {
  transition: all linear 3s;
  opacity: 1;
}
.slick-active {
  opacity: 1;
}
.slick-current {
  opacity: 1;
}
.thumb {
  margin: 20px 0 0;
}
.thumb .slick-slide {
  cursor: pointer;
}
.thumb .slick-slide:hover {
  opacity: .7;
}

.slick-arrow {
  display: none;
}

.container {
  width: 60%;
  margin: 0 auto;
}



/*--------
header
------ */
.header {
  background: rgba(255,255,255, 0.8);
  padding: 20px 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  /* height: 80px; */
}

.menu_container ul {
  display: flex;
  justify-content: center;
  padding: 0;
}

.menu_container li {
  margin-right: 2rem;
  font-size: 2rem;
}

.menu_container li:last-child {
  margin-right: 0;
}

.menu_container a {
  color: #000;
}


/*--------
main
#F15025 オレンジ
#FFFFFF ホワイト
#E6E8E6 ライトグレー
#CED0CE グレー
#191919 ブラック
------ */
.hero {
  display: none;
}


.media_object_container .name {
  padding: 100px 0;
  font-size: 3vw;
  /* text-align: center; */
}

.media_object_container .name h1 {
  font-weight: 300;
  letter-spacing: 0.5rem;
}


.media_object_container .image {
  padding-bottom: 120px;
  /* margin-bottom: 30px; */
  margin: 0 auto;
  width: 80%;
}

.media_object_container .image img{
  border-radius: 50%;
}

.my_info_container {
  /* padding-top: 30px; */
  padding-bottom: 180px;
}

.my_info_container p {
  font-size: 4vw;
  font-weight: 200;
  margin-bottom: 2rem;
}



/*--------
footer
------ */
.footer {
  text-align: center;
  color: #fff;
  background:rgba(25,25,25, 0.6);
  height: 100%;
}


/*--------
footer
------ */







@media (min-width: 768px) {

  /*--------
  header
  ------ */
  .menu_container li{
    font-size: 4rem;
  }

  /*--------
  main
  ------ */
  .media_object_container{
    font-size: 3rem;
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 150px;

  }

  .media_object_container .name {
    font-size: 3.8vw;
    padding-bottom: 120px;
  }

  .media_object_container .image img {
    width: 200px;
    display: block;
    margin: 0 auto;
  }

  .my_info_container p {
    font-size: 4vw;
    margin-bottom: 4vw;
  }

  .my_info_container p:last-child {
    padding-bottom: 180px;
  }

  /*--------
  footer
  ------ */
  .footer_container {
    text-align: center;
    padding: 30px 0;
  }

  
}

@media (min-width: 1025px) {

  .container_all:before {
    width: 0px;
    height: 60%;
    top: 50%;
    left: calc((100vw - 860px) / 2);
    transform:translate(0, -50%);
    z-index: -1;
    animation: appear2 1.2s 1s ease forwards, GradientBackground 6s ease infinite;
  }

  @keyframes appear2 {
    from {
      width: 0px;
    }

    to {
      width: 860px;
    }
  }

  .container {
    width: 1020px;
    margin: 0 auto;
  }

  .hero {
    display: flex;
  }

  .media_object_container {
    display: flex;
    align-items: center;
    padding: 100px 0 50px;
  }

  .media_object_container .name {
    font-size: 2.4rem;
    padding: 0;
    width: 70%;
  }

  .media_object_container .image {
    margin: 0;
    padding: 0;
    width: 30%;
  }

  .media_object_container .image img {
    width: 100%;
  }

  .my_info_container {
    padding-bottom: 120px;
  }

  .my_info_container p {
    font-size: 3rem;
  }
}

